/* Global style */
body {
	margin: 0;
	font-size: 16px;
	color: #3c3a3a;
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
}
h4 {
	font-size: 1.2rem;
}
.uppercase {
	text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
	.mobile-hidden {
		display: none;
	}
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 24px;
}
.colmar-logos {
	display: flex;
	align-items: center;
}
.logo-text {
	font-size: 1rem;
	letter-spacing: .15rem;
}
#colmar {
	color: #171616;
	font-weight: 700;
}
#academy {
	color: #c0c0c0;
}
.icon-hidden{
	display: none;
}
.nav-menu-item{
	margin-left: 16px
}
@media only screen and (max-width: 480px) {
	header {
		display: flex;
		justify-content: space-around;
		padding: 16px 24px;
	}
	.icon-hidden {
		display: block;
	}
}

/* Hero container */
.hero-container {
	display: flex;
	align-items: center;
	background-color: #e8e8e8;
	padding: 32px 0px;
	height: 500px;
}
.hero-left-block {
	width: 60%;
	height: 500px;
	padding-left: 2rem;
}
.hero-left-block img {
	max-width: 100%;
	max-height: 100%;
}
.hero-right-block {
	margin-left: 24px;
	width: 40%;
}
.hero-right-block h1, h3 {
	padding-right: 45%
}
#start-button {
	background-color: #3c3a3a;
	color: #fff;
	text-align: center;
	padding: 1rem;
    width: 45%;
}
@media only screen and (max-width: 480px)  {
	.hero-container {
		padding: 0 0 3rem 0;
		display: flex;
		flex-direction: column;
	}
	.hero-left-block,
	.hero-right-block {
		width: 100%;
		padding: 0;
	}
	.hero-right-block h1, h3 {
		padding: 0rem;
		margin: 1rem;
	}
	.hero-right-block {
		margin-left: 0px;
	}
	#start-button {
		margin: 1.5rem 0rem 0rem 1.4rem;   
		width: 80%;
	}
}

/* School Information container */
.school-info-container{
	display: flex;
	padding: 32px 0px;
}
.school-info-left-block{
	width: 60%;
	padding: 0px 24px;
}
.school-info-left-block-top{
	background-image: url("images/information-main.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 500px;
}
.school-info-left-block-bottom {}
.school-info-right-block{
	width: 40%;
	border-left: 1px solid lightgray;
}
.school-subsection{
	display: inline-flex;
	margin-top: 1rem;
	padding: 1rem;
	border-bottom: 1px solid lightgray;
}
.school-subsection img {
	width: 100%;
	float: left;
}
#guest-lecture, #fisma {
	background-color: lightgray;
}
.thumbnail-block {
 	width: 35%;
 }
 .thumbnail-text {
	width: 65%;
	margin-left: 2rem;
}
@media only screen and (max-width: 480px)  {
	.school-info-right-block {
		width: 100%
	}
	.school-subsection {
		display: flex;
		flex-direction: column;
		border-bottom: 0px;
	}
	.thumbnail-block {
		margin-top: -1rem;
	}
	.thumbnail-text {
 		width: 100%;
 		margin-left: 1rem;
 		margin-bottom: -1rem;
	}
	#campus {
		background-image: url("images/information-orientation-mobile.jpg");
	}
	#library {
		background-image: url("images/information-campus-mobile.jpg");
	}
	#guest-mobile {
		background-image: url("images/information-guest-lecture-mobile.jpg");
	}
	#campus, #library, #guest-mobile {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 190px;
	}
	#guest-lecture {
	background-color: transparent;
	}
}

/* Degree Specialization container */
.degrees-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 4.5rem;
	padding-bottom: 2rem;
	background-color: #e8e8e8;
}
.degrees-inner-container {
	background-color: #e8e8e8;
	width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.course-block{
	background-color: #fff;
	width: 32%;
	margin-bottom: 2rem;
}
.course-block img {
	width: 100%;
}
.degree-info {
	padding-left: 16px;
	padding-right: 32px;
}
@media only screen and (max-width: 480px) {
	.degrees-container {
		background-color: #fbfbfb;
		padding: 0 0 1rem 0;
	}
	.degrees-inner-container {
		background-color: #fff;
    	display: flex;
    	flex-direction: column;
	}
	.course-block {
		background-color: #e8e8e8;
		margin-bottom: .5rem;
		width: 100%;
		text-align: center;
	}
}

/* Thesis container */
.thesis-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 2rem;
}
.thesis-inner-container {
	display: flex;
}
.thesis-left-block{
	width: 60%;
	padding: 0px 24px 32px 24px;
}
video {
	width: 100%;
  	height: auto
}
.thesis-right-block{
	width: 40%;
}
.thesis-subsection{
	display: inline-flex;
	padding: 1rem;
}
.thesis-subsection img {
	width: 100%;
	float: left;
}
@media only screen and (max-width: 480px) {
	.thesis-container{
		padding-top: 1rem;
	}
	.thesis-left-block {
		width: 100%;
	}
}

/* Footer */
footer{
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    border-top: 1px solid lightgray;
}
@media only screen and (max-width: 480px) {
	.copyright-block {
		width: 100%;
		text-align: center;
		font-size: .75rem;
	}
}